export(frequencies_to_notes)
export(frequency_spectrum)
export(lyrics_chart)
export(note_duration_chart)
export(notes_chart)
export(waveform_chart)

importFrom(dplyr, arrange)
importFrom(dplyr, desc)
importFrom(dplyr, filter)
importFrom(dplyr, group_by)
importFrom(dplyr, mutate)
importFrom(dplyr, n)
importFrom(dplyr, summarise)
importFrom(dplyr, tibble)

importFrom(rlang, .data)

importFrom(ggplot2, aes)
importFrom(ggplot2, element_blank)
importFrom(ggplot2, element_rect)
importFrom(ggplot2, element_text)
importFrom(ggplot2, geom_col)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, geom_step)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, ggsave)
importFrom(ggplot2, labs)
importFrom(ggplot2, margin)
importFrom(ggplot2, scale_x_continuous)
importFrom(ggplot2, scale_y_continuous)
importFrom(ggplot2, scale_y_discrete)
importFrom(ggplot2, theme)
importFrom(ggplot2, theme_classic)
importFrom(ggplot2, theme_minimal)

importFrom(readr, read_file)

importFrom(scales, label_number)
importFrom(scales, pretty_breaks)

importFrom(stats, reorder)

importFrom(stringr, str_replace_all)
importFrom(stringr, str_remove_all)
importFrom(stringr, str_split_1)
importFrom(stringr, str_squish)
importFrom(stringr, str_to_lower)
importFrom(stringr, str_to_title)

importFrom(tools, file_ext)